* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

ul {
  list-style: none;
}

a, a:link, a:after, a:visited, a:hover, a:active {
  color: white;
  text-decoration: none;
}

.landing-background {
  height: 100vh;
  width: 100vw;
  background: url(../img/bird.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgb(189, 189, 189);
  background-blend-mode: multiply;
}

.landing-background-second {
  height: 100vh;
  width: 100vw;
  background: url(../img/plant.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgb(138, 138, 138);
  background-blend-mode: multiply;
}

.landing-section {
  height: 100vh;
  width: 100vw;
}
.landing-section--top {
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 15%;
}
.landing-section--topSecond {
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 10%;
}
.landing-section--img {
  height: 10.5rem;
}
.landing-section--bottom {
  height: 40%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 7%;
}
.landing-section--button {
  border: none;
  font-size: 1.6rem;
  background: #ffffff;
  color: #000000;
  border-radius: 3.4rem;
  padding: 1.25rem 5.5rem;
  margin-bottom: 4.8rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 0.04rem;
}
.landing-section--button:hover {
  background: linear-gradient(87.62deg, #1AA878 0.64%, #78C948 99.43%);
  color: #ffffff;
}
.landing-section--navigation-circles {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.landing-section--navigation-circles__circle1 {
  height: 1.8rem;
  width: 1.8rem;
  background: #78C948;
  border-radius: 1rem;
  margin-right: 1.8rem;
  margin-left: 1.8rem;
}
.landing-section--navigation-circles__circle2 {
  height: 1.8rem;
  width: 1.8rem;
  background: #ffffff;
  border-radius: 1rem;
  margin-right: 1.8rem;
  margin-left: 1.8rem;
}
.landing-section--navigation-circles__second {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.landing-section--h1 {
  font-size: 3.2rem;
  color: #ffffff;
  max-width: 15ch;
  letter-spacing: 0.05rem;
  padding-bottom: 4%;
  font-family: "Laila", sans-serif;
  line-height: 150%;
}
.landing-section--p {
  font-size: 1.9rem;
  color: #ffffff;
  max-width: 22ch;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.1rem;
}

/* Medium Devices (Tablets) */
@media (min-width:601px) and (max-width:1023px) {
  .landing-section--top {
    height: 70%;
    padding-bottom: 15%;
  }
  .landing-section--img {
    height: 19rem;
  }
  .landing-section--bottom {
    height: 30%;
    justify-content: flex-start;
  }
  .landing-section--topSecond {
    height: 70%;
    align-items: center;
    padding-left: 0%;
  }
  .landing-section--h1 {
    font-size: 6.4rem;
    color: #ffffff;
    max-width: 15ch;
    letter-spacing: 0.05rem;
    padding-bottom: 4%;
    font-family: "Laila", sans-serif;
    line-height: 150%;
    text-align: center;
  }
  .landing-section--p {
    font-size: 3rem;
    text-align: center;
    max-width: 32ch;
    padding-top: 2rem;
    padding-bottom: 10rem;
  }
  .landing-section--button {
    font-weight: 700;
  }
}
/* Large Devices (Desktop) */
@media (min-width:1024px) {
  .landing-section--top {
    height: 80%;
    justify-content: flex-start;
    padding-bottom: 7.2rem;
  }
  .landing-section--img {
    height: 16rem;
    margin-left: 1rem;
  }
  .landing-section--bottom {
    height: 20%;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 15rem;
  }
  .landing-section--navigation-circles {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding-left: 2.5rem;
  }
  .landing-section--navigation-circles__circle1 {
    height: 1.8rem;
    width: 1.8rem;
    background: #78C948;
    border-radius: 1rem;
    margin-right: 3.6rem;
  }
  .landing-section--navigation-circles__circle2 {
    height: 1.8rem;
    width: 1.8rem;
    background: #ffffff;
    border-radius: 1rem;
  }
  .landing-section--navigation-circles__second {
    justify-content: flex-start;
    padding-left: 4.5rem;
  }
  .landing-section--button {
    font-weight: 700;
  }
  .landing-section--topSecond {
    height: 80%;
    align-items: flex-start;
    padding-left: 6%;
  }
  .landing-section--h1 {
    font-size: 6.4rem;
    color: #ffffff;
    max-width: 15ch;
    letter-spacing: 0.05rem;
    padding-bottom: 1rem;
    font-family: "Laila", sans-serif;
    line-height: 150%;
    text-align: left;
  }
  .landing-section--p {
    font-size: 2.4rem;
    text-align: left;
    max-width: 40ch;
    padding-top: 2rem;
    padding-bottom: 10rem;
  }
}
.signIn-container {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(12.04deg, #1AA878 0%, #78C948 100%);
}

.signIn-logo {
  height: 25%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signIn-logo--img {
  height: 10.5rem;
}

.alertError {
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.alertError--text {
  color: white;
  letter-spacing: 0.06rem;
  font-size: 1.4rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin-bottom: 4rem;
}

.asAlertError {
  height: 70vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
}
.asAlertError--text {
  color: white;
  letter-spacing: 0.06rem;
  font-size: 1.4rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin-bottom: 4rem;
}

.signIn-middle {
  height: 40%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.signIn-middle--img {
  height: 7rem;
}
.signIn-middle--label {
  color: #ffffff;
  padding-bottom: 0.6rem;
  padding-left: 0.4rem;
  letter-spacing: 0.06rem;
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin-right: 18rem;
}
.signIn-middle--input {
  border: none;
  border-radius: 0.8rem;
  padding: 1em 1.5em;
  width: 27.1rem;
  margin-bottom: 1.6rem;
  letter-spacing: 0.06rem;
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.signIn-bottom {
  height: 35%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding-bottom: 4rem;
}
.signIn-bottom--signIn {
  color: #ffffff;
  border: none;
  border-radius: 2.8rem;
  background: linear-gradient(87.62deg, #1AA878 0.64%, #78C948 99.43%);
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.09rem;
  text-align: center;
  padding: 0.28em 1.72em;
  width: 27.1rem;
  padding: 0.65em;
  filter: drop-shadow(-3px 4px 4px rgba(0, 0, 0, 0.36));
}
.signIn-bottom--createAccount {
  border: none;
  font-size: 1.6rem;
  background: #ffffff;
  color: #000000;
  border-radius: 3.4rem;
  padding: 1.25rem 5.5rem;
  margin-bottom: 4.8rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 0.04rem;
  font-size: 2rem;
  border-radius: 0.8rem;
  width: 27.1rem;
  padding: 0.65em;
  color: #1AA878;
  margin-bottom: 0;
}
.signIn-bottom--createAccount:hover {
  background: linear-gradient(87.62deg, #1AA878 0.64%, #78C948 99.43%);
  color: #ffffff;
}
.signIn-bottom--guest-link {
  text-decoration: none;
}
.signIn-bottom--guest {
  color: #ffffff;
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.05rem;
}

/* Medium Devices (Tablets) */
@media (min-width:601px) and (max-width:1023px) {
  .signIn-logo {
    height: 35%;
  }
  .signIn-logo--img {
    height: 19.2rem;
  }

  .alertError {
    display: none !important;
  }

  .asAlertError {
    display: none !important;
  }

  .signIn-middle {
    height: 20%;
  }
  .signIn-middle--label {
    font-size: 1.8rem;
    margin-right: 23.5rem;
  }
  .signIn-middle--input {
    border-radius: 1rem;
    width: 34.3rem;
    font-size: 1.8rem;
  }

  .signIn-bottom {
    height: 25%;
    margin-top: 15rem;
  }
  .signIn-bottom--signIn {
    width: 34.3rem;
  }
  .signIn-bottom--createAccount {
    border-radius: 1rem;
    width: 34.3rem;
  }
}
/* Large Devices (Desktop) */
@media (min-width:1024px) {
  .signIn-logo {
    height: 40%;
    justify-content: flex-end;
    padding-right: 8%;
  }
  .signIn-logo--img {
    height: 19.5rem;
  }

  .alertError {
    display: none !important;
  }

  .asAlertError {
    display: none !important;
  }

  .signIn-middle {
    height: 20%;
    align-items: flex-start;
    padding-left: 15%;
  }
  .signIn-middle--label {
    font-size: 1.8rem;
    margin-right: 23.5rem;
  }
  .signIn-middle--input {
    border-radius: 1rem;
    width: 34.3rem;
    font-size: 1.8rem;
  }

  .signIn-bottom {
    height: 25%;
    margin-top: 9rem;
    align-items: flex-start;
    padding-left: 15%;
  }
  .signIn-bottom--signIn {
    width: 34.3rem;
  }
  .signIn-bottom--createAccount {
    border-radius: 1rem;
    width: 34.3rem;
  }
  .signIn-bottom--guest {
    width: 34.3rem;
    text-align: center;
    letter-spacing: 0.1rem;
  }
}
.addSighting-container {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(45deg, rgb(2, 0, 36) 0%, rgb(26, 168, 120) 0%, rgb(120, 201, 72) 100%);
}

.addSighting-backSection {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 6%;
  padding-top: 5%;
}
.addSighting-backSection--arrowIMG {
  height: 1.8rem;
}
.addSighting-backSection--back {
  color: white;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  padding-left: 1.5rem;
  padding-top: 1.5rem;
}

.addSighting-titleSection {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2%;
}
.addSighting-titleSection--title {
  color: white;
  font-size: 20px;
  font-family: "Laila", sans-serif;
  letter-spacing: 0.1rem;
}

.addSighting-sightingForm {
  height: 45vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 11%;
  height: 70vh;
}
.addSighting-sightingForm--label {
  color: #000000;
  padding-bottom: 1rem;
  letter-spacing: 0.06rem;
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #ffffff;
}
.addSighting-sightingForm--input {
  outline: 0;
  border-width: 0 0 2px;
  border-color: #000000;
  margin-bottom: 2rem;
  padding: 0.4rem;
  width: 100%;
  letter-spacing: 0.06rem;
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  border: none;
  border-radius: 2rem;
  padding: 0.6em 1em;
}
.addSighting-sightingForm--input:focus {
  border-color: #1AA878;
}
.addSighting-sightingForm--inputDescription {
  outline: 0;
  border-width: 0 2px 2px 0;
  border-color: #000000;
  padding: 0.4rem;
  width: 100%;
  height: 16vh;
  letter-spacing: 0.06rem;
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  border: none;
  border-radius: 2rem;
  padding: 1em;
}

.addSighting-addPost {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 5rem;
  padding: 0;
}
.addSighting-addPost--btn {
  border: none;
  font-size: 1.6rem;
  background: #ffffff;
  color: #000000;
  border-radius: 3.4rem;
  padding: 1.25rem 5.5rem;
  margin-bottom: 4.8rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 0.04rem;
}
.addSighting-addPost--btn:hover {
  background: linear-gradient(87.62deg, #1AA878 0.64%, #78C948 99.43%);
  color: #ffffff;
}

/* Medium Devices (Tablets) */
@media (min-width:601px) and (max-width:1023px) {
  .addSighting-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  .addSighting-backSectionWrap {
    width: 100%;
  }

  .addSighting-titleSection {
    height: 12%;
  }
  .addSighting-titleSection--title {
    font-size: 3.2rem;
  }

  .addSighting-sightingForm {
    height: 60vh;
    width: 80%;
  }
  .addSighting-sightingForm--label {
    font-size: 1.8rem;
  }
  .addSighting-sightingForm--input {
    font-size: 1.8rem;
    border-radius: 2.3rem;
  }
  .addSighting-sightingForm--inputDescription {
    outline: 0;
    border-width: 0 2px 2px 0;
    border-color: #000000;
    padding: 0.4rem;
    width: 100%;
    height: 16vh;
    letter-spacing: 0.06rem;
    font-size: 1.6rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    border: none;
    border-radius: 2rem;
    padding: 1em;
  }

  .addSighting-addPost {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 5rem;
    padding: 0;
  }
  .addSighting-addPost--btn {
    border: none;
    font-size: 1.6rem;
    background: #ffffff;
    color: #000000;
    border-radius: 3.4rem;
    padding: 1.25rem 5.5rem;
    margin-bottom: 4.8rem;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    letter-spacing: 0.04rem;
    height: 5rem;
  }
  .addSighting-addPost--btn:hover {
    background: linear-gradient(87.62deg, #1AA878 0.64%, #78C948 99.43%);
    color: #ffffff;
  }
}
/* Large Devices (Desktop) */
@media (min-width:1024px) {
  .addSighting-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  .addSighting-backSectionWrap {
    width: 100%;
  }

  .addSighting-titleSection {
    height: auto;
    padding-top: 0%;
    padding-bottom: 3rem;
  }
  .addSighting-titleSection--title {
    font-size: 3.2rem;
  }

  .addSighting-sightingForm {
    height: 60vh;
    width: 65%;
  }
  .addSighting-sightingForm--label {
    font-size: 1.8rem;
  }
  .addSighting-sightingForm--input {
    font-size: 1.8rem;
    border-radius: 2.3rem;
  }
  .addSighting-sightingForm--inputDescription {
    outline: 0;
    border-width: 0 2px 2px 0;
    border-color: #000000;
    padding: 0.4rem;
    width: 100%;
    height: 16vh;
    letter-spacing: 0.06rem;
    font-size: 1.6rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    border: none;
    border-radius: 2rem;
    padding: 1em;
  }

  .addSighting-addPost {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 5rem;
    padding: 0;
  }
  .addSighting-addPost--btn {
    border: none;
    font-size: 1.6rem;
    background: #ffffff;
    color: #000000;
    border-radius: 3.4rem;
    padding: 1.25rem 5.5rem;
    margin-bottom: 4.8rem;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    letter-spacing: 0.04rem;
    height: 5rem;
  }
  .addSighting-addPost--btn:hover {
    background: linear-gradient(87.62deg, #1AA878 0.64%, #78C948 99.43%);
    color: #ffffff;
  }
}
.posts-wrap {
  width: 100%;
  height: 77.3vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.grid {
  margin: 0 auto;
}

/* clearfix */
.grid:after {
  content: "";
  display: block;
  clear: both;
}

/* Medium Devices (Tablets) */
@media (min-width:601px) and (max-width:1023px) {
  .posts-wrap {
    height: 76vh;
  }
}
/* Large Devices (Desktop) */
@media (min-width:1024px) {
  .posts-wrap {
    width: 90%;
    height: 81vh;
  }
}
.get-involved {
  background: #1AA878;
  background: linear-gradient(12.04deg, #1AA878 0%, #78C948 100%);
  width: 100vw;
  min-height: 100vh;
}
.get-involved__header {
  top: 0;
  width: 100vw;
  height: 100%;
  display: flex;
}

.grid-about {
  width: 100vw;
  height: 100%;
  display: flex;
  align-items: space-between;
  padding: 20px 20px 20px;
  position: relative;
  flex-wrap: nowrap;
}

@media screen and (max-width: 834px) {
  .grid-about {
    display: none;
    top: 100px;
  }
}
@media screen and (max-width: 400px) {
  .logo-zip {
    padding-top: 8rem;
  }
}
.g-col-3 img {
  width: 200px;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25)) drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.15));
  position: inherit;
  display: flex;
  align-items: left;
  justify-content: left;
}

.profile-image {
  width: 70vw;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25)) drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.15));
  display: flex;
  color: white;
  align-items: right;
  justify-content: right;
  float: right;
  position: inherit;
}

.profile-image img {
  float: right;
  position: inherit;
  display: flex;
  width: 100px;
  min-height: 100%;
}

.get-involved i {
  padding-top: 0.3rem;
  margin-right: 1rem;
}

.logo-zip {
  width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: inherit;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25)) drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.15));
}

@media screen and (max-width: 834px) {
  .logo-zip {
    padding-top: 8rem;
  }
}
@media screen and (max-width: 375px) {
  .logo-zip {
    padding-top: 8rem;
  }
}
.hero-image {
  width: 100vw;
  height: 100%;
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
}

.hero-image img {
  width: 50vw;
  position: inherit;
  display: flex;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25)) drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.15));
  top: 20px;
}

@media screen and (max-width: 400px) {
  .hero-image img {
    width: 300px;
  }
}
.about-container {
  width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.about-container p {
  font-family: "Roboto";
  padding-top: 3rem;
  width: 50vw;
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
}

footer {
  width: 100vw;
  min-height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
}

.footer-container a {
  color: white;
  font-family: "Roboto";
  font-size: 12px;
  display: flex;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.arrow-back {
  position: relative;
  top: 0;
  color: white;
  padding-left: 2rem;
  font-family: "Roboto";
  font-size: 16px;
  transform: translateY(-270%);
  display: flex;
}

@media screen and (min-width: 834px) {
  .arrow-back {
    display: none;
  }
}
@media screen and (min-width: 400px) {
  .arrow-back {
    display: show;
  }
}
#mainFeedBody {
  background: linear-gradient(12.04deg, #1AA878 0%, #78C948 100%);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.header {
  width: 100%;
  height: 12.6vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.1rem;
}
.header__desktop-button-wrap {
  display: none;
}
.header__logo {
  height: 5.6rem;
}
.header__account-dropdown {
  color: #ffffff;
  font-size: 2.2rem;
  display: flex;
  align-items: center;
  padding-top: 0.5rem;
}
.header__account-dropdown:hover {
  color: #ffffff;
}
.header__profile-icon-wrap {
  height: 3.7rem;
  width: 3.7rem;
  border-radius: 50%;
  margin-right: 1rem;
  overflow: hidden;
}
.header__profile-icon {
  height: 95%;
  width: 95%;
  filter: invert(100%);
  object-fit: cover;
  object-position: center;
}
.header__profile-image {
  background-color: rgb(139, 139, 139);
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.header__dropdown-menu {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  color: #000000;
  background-color: #ffffff;
  border-radius: 1.9rem;
  text-align: center;
  border: none;
  filter: drop-shadow(-3px 3px 7px rgba(0, 0, 0, 0.3));
}
.header__dropdown-item {
  padding: 1em 1.5em;
  font-size: 1.6rem;
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.06rem;
}

.dropdown-toggle::after {
  display: none;
}

.btn-check:focus + .btn, .btn:focus {
  box-shadow: none;
}

.post {
  width: 341px;
  height: auto;
  float: left;
  margin-bottom: 1.8rem;
  z-index: 0;
}
.post__top {
  width: 100%;
  min-height: 170px;
  overflow: hidden;
  position: relative;
  border-radius: 2.6rem 2.6rem 0 0;
  background: rgb(139, 139, 139);
}
.post__author-img-wrap {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  position: absolute;
  top: 2rem;
  left: 2rem;
  overflow: hidden;
  z-index: 10;
}
.post__author-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.post__btn-ctn {
  position: absolute;
  top: 2rem;
  right: 2rem;
  z-index: 10;
}
.post__dropdown-icon {
  height: 2.5rem;
}
.post__dropdown-menu {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  color: #000000;
  background-color: #ffffff;
  border-radius: 1.9rem;
  text-align: center;
  border: none;
  filter: drop-shadow(-3px 3px 7px rgba(0, 0, 0, 0.3));
}
.post__dropdown-item {
  padding: 1em 1.5em;
  font-size: 1.6rem;
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.06rem;
}
.post__image {
  width: 100%;
}
.post__bottom {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  flex-flow: row wrap;
  border-radius: 0 0 2.6rem 2.6rem;
}
.post__bottom-upper {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  padding-top: 1.2rem;
}
.post__text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #ffffff;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  background: linear-gradient(268.51deg, #78C948 0%, #1AA878 96.71%);
  border-radius: 3rem;
  padding: 0.4em 1em;
  margin-left: 1rem;
}
.post__bottom-lower {
  width: 100%;
  display: flex;
  overflow: hidden;
  padding: 0 2rem;
}
.post__caption {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #000000;
  font-size: 1.2rem;
  letter-spacing: 0.03rem;
}
.post__comments {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}
.post__comments-details {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  color: rgb(139, 139, 139);
}
.post__speech {
  position: absolute;
  bottom: 50%;
  right: 5%;
  width: 1.9rem;
}

.add-post {
  width: 100%;
  height: 10.1vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-post__button {
  width: 4.6rem;
  height: 4.6rem;
  color: #ffffff;
  background: linear-gradient(39.42deg, #1AA878 13.22%, #78C948 86.19%);
  border-radius: 50%;
  border: none;
  font-size: 2rem;
  filter: drop-shadow(-1px 2px 4px rgba(0, 0, 0, 0.49));
}

/* Medium Devices (Tablets) */
@media (min-width:601px) and (max-width:1023px) {
  .header {
    height: 13vh;
    padding: 0 8%;
    padding-bottom: 2rem;
  }
  .header__logo {
    height: 8.4rem;
  }
  .header__account-dropdown {
    font-size: 2.5rem;
  }
  .header__profile-icon-wrap {
    height: 5rem;
    width: 5rem;
  }

  .add-post {
    height: 11vh;
  }
  .add-post__button {
    width: 6rem;
    height: 6rem;
    font-size: 3rem;
  }
}
/* Large Devices (Desktop) */
@media (min-width:1024px) {
  .header {
    height: 19vh;
    padding: 0 4%;
    padding-bottom: 4rem;
  }
  .header__desktop-button-wrap {
    display: block;
  }
  .header__desktop-button {
    width: 6rem;
    height: 6rem;
    font-size: 3rem;
    color: #ffffff;
    background: linear-gradient(39.42deg, #1AA878 13.22%, #78C948 86.19%);
    border-radius: 50%;
    border: none;
    filter: drop-shadow(-1px 2px 4px rgba(0, 0, 0, 0.49));
  }
  .header__logo {
    height: 8.4rem;
  }
  .header__account-dropdown {
    font-size: 3rem;
  }
  .header__profile-icon-wrap {
    height: 6rem;
    width: 6rem;
  }

  .add-post {
    display: none;
  }
}
.modal {
  padding: 0 1.7rem;
}

.modal-content {
  border-radius: 2.3rem;
}

.close-icon {
  position: absolute;
  top: 15%;
  right: 6%;
}

.createAccountModal-header {
  height: 16.3vh;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  padding-top: 4rem;
}
.createAccountModal-header--title {
  color: #1AA878;
  font-size: 2rem;
  font-family: "Laila", sans-serif;
  letter-spacing: 0.05rem;
}
.createAccountModal-header--closeBtn {
  position: absolute;
  top: 15%;
  right: 6%;
}

.createAccountModal-body {
  height: 45vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 11%;
}
.createAccountModal-body--label {
  color: #000000;
  padding-bottom: 1rem;
  letter-spacing: 0.06rem;
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.createAccountModal-body--input {
  outline: 0;
  border-width: 0 0 2px;
  border-color: #000000;
  margin-bottom: 2rem;
  padding: 0.4rem;
  width: 100%;
  letter-spacing: 0.06rem;
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.createAccountModal-body--input:focus {
  border-color: #1AA878;
}

.createAccountModal-footer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 5rem;
}
.createAccountModal-footer--btn {
  color: #ffffff;
  border: none;
  border-radius: 2.8rem;
  background: linear-gradient(87.62deg, #1AA878 0.64%, #78C948 99.43%);
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.09rem;
  text-align: center;
  padding: 0.28em 1.72em;
}

.updatePostModal-header {
  height: 16.3vh;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  padding-top: 4rem;
}
.updatePostModal-header--title {
  color: #1AA878;
  font-size: 2rem;
  font-family: "Laila", sans-serif;
  letter-spacing: 0.05rem;
}

.updatePostModal-body {
  height: 45vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 11%;
  height: 66vh;
}
.updatePostModal-body--label {
  color: #000000;
  padding-bottom: 1rem;
  letter-spacing: 0.06rem;
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.updatePostModal-body--input {
  outline: 0;
  border-width: 0 0 2px;
  border-color: #000000;
  margin-bottom: 2rem;
  padding: 0.4rem;
  width: 100%;
  letter-spacing: 0.06rem;
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.updatePostModal-body--input:focus {
  border-color: #1AA878;
}
.updatePostModal-body--inputDescription {
  outline: 0;
  border-width: 0 2px 2px 0;
  border-color: #000000;
  padding: 0.4rem;
  width: 100%;
  height: 16vh;
  letter-spacing: 0.06rem;
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.updatePostModal-footer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 5rem;
}
.updatePostModal-footer--btn {
  color: #ffffff;
  border: none;
  border-radius: 2.8rem;
  background: linear-gradient(87.62deg, #1AA878 0.64%, #78C948 99.43%);
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.09rem;
  text-align: center;
  padding: 0.28em 1.72em;
}

.deletePostModal-header {
  height: 16.3vh;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  padding-top: 4rem;
  height: 13.3vh;
}
.deletePostModal-header--title {
  color: #1AA878;
  font-size: 2rem;
  font-family: "Laila", sans-serif;
  letter-spacing: 0.05rem;
}

.deletePostModal-body {
  height: 45vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 11%;
  height: 10vh;
  align-items: center;
}
.deletePostModal-body--text {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #000000;
  text-align: center;
}

.deletePostModal-footer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 5rem;
  justify-content: space-evenly;
  padding: 0 2rem;
  padding-bottom: 5rem;
}
.deletePostModal-footer--btn {
  color: #ffffff;
  border: none;
  border-radius: 2.8rem;
  background: linear-gradient(87.62deg, #1AA878 0.64%, #78C948 99.43%);
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.09rem;
  text-align: center;
  padding: 0.28em 1.72em;
}

#postModal {
  padding-top: 1.7rem;
  padding-bottom: 1.7rem;
}

.modal-post__master {
  min-height: 90vh;
  background: white;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 0 2.5%;
}

.modal-post__header {
  height: 16.3vh;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  padding-top: 4rem;
  justify-content: flex-start;
  align-items: center;
  height: 8.7rem;
  padding-top: 0;
}

.modal-post__profile {
  margin-left: 1.5rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  overflow: hidden;
}

.modal-post__username {
  color: #000000;
  letter-spacing: 0.06rem;
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin: 0;
  margin-left: 1rem;
}

.modal-post__close {
  position: absolute;
  top: 15%;
  right: 6%;
  top: 2.9rem;
  font-size: 1.9rem;
}

.modal-post__img-container {
  width: 100%;
}

.modal-post__image {
  border-radius: 3rem;
  width: 100%;
}

.modal-post__locationName-container {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 1.5rem;
}

.modal-post__text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #ffffff;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  background: linear-gradient(268.51deg, #78C948 0%, #1AA878 96.71%);
  border-radius: 3rem;
  padding: 0.4em 1em;
  margin-right: 1rem;
}

.modal-post__description {
  width: 100%;
  min-height: 9.2rem;
  background: linear-gradient(12.04deg, #1AA878 0%, #78C948 100%);
  border-radius: 2rem;
  letter-spacing: 0.05rem;
  padding: 0.8em 1.5em;
  font-size: 1.2rem;
  color: #ffffff;
  outline: none;
  border: none;
  margin-top: 0.5rem;
}

.modal-post__comments-container {
  width: 100%;
  min-height: 22rem;
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.modal-post__comments {
  width: 100%;
  min-height: 20rem;
  background: white;
  border-radius: 30px;
  box-shadow: -3px 3px 4px rgba(0, 0, 0, 0.15);
}

.modal-post__comments-top {
  min-height: 15rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: scroll;
  border-radius: 30px 30px 0px 0px;
  background: linear-gradient(12.04deg, #1AA878 0%, #78C948 100%);
  padding: 1.5rem;
  color: #ffffff;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.05rem;
}

.appendContainer {
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.4rem;
  padding-left: 12%;
  padding-right: 12%;
}
.appendContainer__profileContainer {
  height: 3.4rem;
  width: 3.4rem;
  border-radius: 50%;
  overflow: hidden;
}
.appendContainer__profileContainer--img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.appendContainer--text {
  color: #ffffff;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.05rem;
}

.modal-post__comments-bottom {
  display: flex;
  justify-content: flex-end;
  padding-top: 0.8rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.modal-post__comments-btn {
  width: 2rem;
  height: auto;
  outline: none;
  border: none;
  background: transparent;
}

.modal-post__input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  margin-right: 1.5rem;
  width: 80%;
}

.modal-post__input:focus {
  outline: none;
}