@import url("https://fonts.googleapis.com/css2?family=Laila:wght@400;500&family=Roboto:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

ul {
  list-style: none;
}

.landing-background {
  height: 100vh;
  width: 100vw;
  background: url(../img/bird.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgb(139, 139, 139);
  background-blend-mode: multiply;
}

.landing-background-second {
  height: 100vh;
  width: 100vw;
  background: url(../img/plant.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgb(139, 139, 139);
  background-blend-mode: multiply;
}

.landing-section {
  height: 100vh;
  width: 100vw;
}
.landing-section--top {
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 15%;
}
.landing-section--topSecond {
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 10%;
}
.landing-section--img {
  height: 8rem;
  padding-left: 2rem;
}
.landing-section--bottom {
  height: 40%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 7%;
}
.landing-section--button {
  border: none;
  font-size: 16px;
  background: white;
  color: black;
  border-radius: 2rem;
  padding: 0.6rem;
  padding-left: 2.8rem;
  padding-right: 2.8rem;
  margin-bottom: 4rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 0.06rem;
}
.landing-section--navigation-circles {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.landing-section--navigation-circles__circle1 {
  height: 1rem;
  width: 1rem;
  background: #78C948;
  border-radius: 1rem;
  margin-right: 4%;
  margin-left: 4%;
}
.landing-section--navigation-circles__circle2 {
  height: 1rem;
  width: 1rem;
  background: white;
  border-radius: 1rem;
  margin-left: 4%;
  margin-right: 4%;
}
.landing-section--h1 {
  font-size: 32px;
  color: white;
  max-width: 15ch;
  letter-spacing: 0.1rem;
  padding-bottom: 4%;
  font-family: "Laila", sans-serif;
  line-height: 150%;
}
.landing-section--p {
  font-size: 20px;
  color: white;
  max-width: 22ch;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0.02rem;
}

.signIn-container {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(45deg, rgb(2, 0, 36) 0%, rgb(26, 168, 120) 0%, rgb(120, 201, 72) 100%);
}

.signIn-logo {
  height: 25%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signIn-logo--img {
  height: 6rem;
}

.signIn-middle {
  height: 40%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 15%;
  padding-bottom: 12%;
}
.signIn-middle--img {
  height: 7rem;
}
.signIn-middle--label {
  color: white;
  padding-bottom: 0.6rem;
  padding-left: 0.4rem;
  letter-spacing: 0.06rem;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.signIn-middle--input {
  border: none;
  border-radius: 0.6rem;
  padding: 1rem;
  width: 16rem;
  margin-bottom: 1.6rem;
  letter-spacing: 0.06rem;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.signIn-bottom {
  height: 35%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding-bottom: 4rem;
}
.signIn-bottom--signIn {
  border: none;
  border-radius: 2rem;
  color: white;
  background: linear-gradient(45deg, rgb(2, 0, 36) 0%, rgb(26, 168, 120) 0%, rgb(120, 201, 72) 100%);
  width: 16rem;
  padding: 0.8rem;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.02rem;
  text-align: center;
  filter: drop-shadow(-3px 4px 4px rgba(0, 0, 0, 0.36));
}
.signIn-bottom--createAccount {
  border: none;
  border-radius: 0.6rem;
  padding: 0.8rem;
  width: 16rem;
  color: #1AA878;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.02rem;
  text-align: center;
}
.signIn-bottom--guest {
  color: white;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  letter-spacing: 0.02rem;
}

.modal-content {
  border-radius: 2rem !important;
}

.close-icon {
  margin-left: 3.6rem;
  margin-right: 1rem;
  margin-bottom: 3rem;
}

.createAccountModal-header {
  height: 15vh;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.createAccountModal-header--title {
  color: #1AA878;
  font-size: 20px;
  font-family: "Laila", sans-serif;
  letter-spacing: 0.05rem;
}

.createAccountModal-body {
  height: 45vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 15%;
}
.createAccountModal-body--label {
  color: black;
  padding-bottom: 0.6rem;
  letter-spacing: 0.06rem;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.createAccountModal-body--input {
  outline: 0;
  border-width: 0 0 2px;
  border-color: rgb(0, 0, 0);
  margin-bottom: 2rem;
  padding: 0.4rem;
  width: 16rem;
  letter-spacing: 0.06rem;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.createAccountModal-body input:focus {
  border-color: #1AA878;
}

.createAccountModal-footer {
  height: 15vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.createAccountModal-footer--btn {
  border: none;
  color: white;
  background: linear-gradient(45deg, rgb(2, 0, 36) 0%, rgb(26, 168, 120) 0%, rgb(120, 201, 72) 100%);
  border-radius: 2rem;
  width: 10rem;
  padding: 0.6rem;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 0.02rem;
  text-align: center;
}

.deletePostModal-header {
  height: 15vh;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.deletePostModal-header--title {
  color: #1AA878;
  font-size: 20px;
  font-family: "Laila", sans-serif;
  letter-spacing: 0.05rem;
}

.close-icon-delete {
  margin-left: 6.6rem;
  margin-right: 1rem;
  margin-bottom: 1.6rem;
}

.deletePostModal-body {
  height: 5vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.deletePostModal-body--text {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: black;
  text-align: center;
}

.deletePostModal-footer {
  height: 20vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 2rem;
}
.deletePostModal-footer--btn {
  border: none;
  color: white;
  background: linear-gradient(45deg, rgb(2, 0, 36) 0%, rgb(26, 168, 120) 0%, rgb(120, 201, 72) 100%);
  border-radius: 2rem;
  width: 8rem;
  padding: 0.6rem;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 0.02rem;
  text-align: center;
}

.updatePostModal-header {
  height: 15vh;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.updatePostModal-header--title {
  color: #1AA878;
  font-size: 20px;
  font-family: "Laila", sans-serif;
  letter-spacing: 0.05rem;
}

.updatePostModal-body {
  height: 60vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 15%;
}
.updatePostModal-body--label {
  color: black;
  padding-bottom: 0.6rem;
  letter-spacing: 0.06rem;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.updatePostModal-body--input {
  outline: 0;
  border-width: 0 0 2px;
  border-color: rgb(0, 0, 0);
  margin-bottom: 2rem;
  padding: 0.4rem;
  width: 16rem;
  letter-spacing: 0.06rem;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.updatePostModal-body--inputDescription {
  outline: 0;
  border-width: 0 2px 2px 0;
  border-color: rgb(0, 0, 0);
  margin-bottom: 2rem;
  padding: 0.4rem;
  padding-bottom: 5rem;
  width: 16rem;
  letter-spacing: 0.06rem;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.updatePostModal-body input:focus {
  border-color: #1AA878;
}

.updatePostModal-footer {
  height: 15vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.updatePostModal-footer--btn {
  border: none;
  color: white;
  background: linear-gradient(45deg, rgb(2, 0, 36) 0%, rgb(26, 168, 120) 0%, rgb(120, 201, 72) 100%);
  border-radius: 2rem;
  width: 8rem;
  padding: 0.6rem;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 0.02rem;
  text-align: center;
}

.addSighting-container {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(45deg, rgb(2, 0, 36) 0%, rgb(26, 168, 120) 0%, rgb(120, 201, 72) 100%);
}

.addSighting-backSection {
  height: 8%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 6%;
  padding-top: 5%;
}
.addSighting-backSection--arrowIMG {
  height: 1rem;
}
.addSighting-backSection--back {
  color: white;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  padding-left: 0.8rem;
  padding-top: 1.1rem;
}

.addSighting-titleSection {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2%;
}
.addSighting-titleSection--title {
  color: white;
  font-size: 20px;
  font-family: "Laila", sans-serif;
  letter-spacing: 0.1rem;
}

.addSighting-sightingForm {
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 16%;
}
.addSighting-sightingForm--label {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.06rem;
  padding-bottom: 0.3rem;
  padding-left: 0.4rem;
}
.addSighting-sightingForm--input {
  border: none;
  border-radius: 2rem;
  padding: 0.6rem;
  width: 16rem;
  letter-spacing: 0.06rem;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin-bottom: 1rem;
  text-align: left;
  padding-left: 1rem;
}
.addSighting-sightingForm--input:focus {
  border-color: #1AA878;
}
.addSighting-sightingForm--inputDescription {
  border: none;
  border-radius: 1.4rem;
  padding: 3rem;
  width: 16rem;
  letter-spacing: 0.06rem;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin-bottom: 1rem;
  text-align: left;
  padding-left: 1rem;
}

.addSighting-addPost {
  height: 22%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}
.addSighting-addPost--btn {
  border: none;
  font-size: 16px;
  background: white;
  color: black;
  border-radius: 2rem;
  padding: 0.6rem;
  padding-left: 2.8rem;
  padding-right: 2.8rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 0.06rem;
}

.posts-wrap {
  width: 100%;
  height: 90vh;
  background: orangered;
  overflow: scroll;
}

.posts-container div {
  width: 293px;
  min-height: 200px;
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.add-post-ctn {
  background: blueviolet;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background: rgb(2, 0, 36);
  background: linear-gradient(45deg, rgb(2, 0, 36) 0%, rgb(26, 168, 120) 0%, rgb(120, 201, 72) 100%);
}

html body {
  width: 100vw;
  min-height: 100vh;
}

header {
  top: 0;
  width: 100vw;
  height: 100%;
  display: flex;
}

.grid-about {
  width: 100vw;
  height: 100%;
  display: flex;
  align-items: space-between;
  padding: 20px 20px 20px;
  position: relative;
  flex-wrap: nowrap;
}

@media screen and (max-width: 834px) {
  .grid-about {
    display: none;
    top: 100px;
  }
}
@media screen and (max-width: 400px) {
  .logo-zip {
    padding-top: 8rem;
  }
}
.g-col-3 img {
  width: 200px;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25)) drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.15));
  position: inherit;
  display: flex;
  align-items: left;
  justify-content: left;
}

.profile-image {
  width: 70vw;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25)) drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.15));
  display: flex;
  color: white;
  align-items: right;
  justify-content: right;
  float: right;
  position: inherit;
}

.profile-image img {
  float: right;
  position: inherit;
  display: flex;
  width: 100px;
  min-height: 100%;
}

i {
  padding-top: 3rem;
  display: flex;
}

.logo-zip {
  width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: inherit;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25)) drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.15));
}

@media screen and (max-width: 834px) {
  .logo-zip {
    padding-top: 8rem;
  }
}
@media screen and (max-width: 375px) {
  .logo-zip {
    padding-top: 8rem;
  }
}
.hero-image {
  width: 100vw;
  height: 100%;
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
}

.hero-image img {
  width: 50vw;
  position: inherit;
  display: flex;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25)) drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.15));
  top: 20px;
}

@media screen and (max-width: 400px) {
  .hero-image img {
    width: 300px;
  }
}
.about-container {
  width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.about-container p {
  font-family: "Roboto";
  padding-top: 3rem;
  width: 50vw;
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
}

footer {
  width: 100vw;
  min-height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
}

.footer-container a {
  color: white;
  font-family: "Roboto";
  font-size: 12px;
  display: flex;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.arrow-back {
  position: relative;
  top: 0;
  color: white;
  padding-left: 2rem;
  font-family: "Roboto";
  font-size: 16px;
  transform: translateY(-270%);
}

@media screen and (min-width: 834px) {
  .arrow-back {
    display: none;
  }
}
@media screen and (min-width: 400px) {
  .arrow-back {
    display: show;
  }
}