.fullscreen{
    background: linear-gradient(268.51deg, #78C948 0%, #1AA878 96.71%);
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    &__ld-container{
        width: 100%;
        display: flex;
    }

    &__image{
        border-radius: 30px;
        margin-bottom: 2rem;
        max-height: 350px;
        width: 100%;
    }

    &__body{
        display: flex;
        align-items: center;
        margin-bottom: 0.5rem;
    }

    &__text{
        font-family: $body-font;
        font-weight: $medium;
        color: black;
        font-size: 1.2rem;
        letter-spacing: 0.1rem;
        background: white;
        border-radius: 3rem;
        padding: 0.4em 1em;
        margin-left: 1rem;
    }

    &__description-container{
        background: white;
        width: 100%;
        padding: 1.5rem;
        border-radius: 30px;
        min-height: 20rem;
    }

    &__description{
        font-family: $body-font;
        font-weight: $medium;
    }

    &__carousel-container{
        width: 32rem;
        min-height: 90%;
    }

    &__user-container{
        display: flex;
        align-items: center;
        width: 50%;
        margin-bottom: 2rem;
    }

    &__username{
        font-family: $body-font;
        font-weight: $regular;
        font-size: 2.5rem;
        color: $white;
    }

    &__user-image{
        height: 5rem;
        width: 5rem;
        border-radius: 50%;
        margin-right: 1rem;
        overflow: hidden;
        margin-right: 1.5rem;
    }
}

.carousel-item{
    width: 100%;
    height: 100%;
}

@media #{$desktop}{
    .fullscreen{
        background: linear-gradient(268.51deg, #78C948 0%, #1AA878 96.71%);
        width: 100vw;
        min-height: 100vh;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;

        &__slide{
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &__inner{
            display: flex !important;
            flex-flow: row !important;
        }
    
        &__ld-container{
            width: 100%;
            display: flex;
        }
    
        &__image{
            border-radius: 30px;
            margin-bottom: 2rem;
            width: 100%;
        }
    
        &__body{
            display: flex;
            align-items: center;
            margin-bottom: 0.5rem;
        }
    
        &__text{
            font-family: $body-font;
            font-weight: $medium;
            color: black;
            font-size: 1.2rem;
            letter-spacing: 0.1rem;
            background: white;
            border-radius: 3rem;
            padding: 0.4em 1em;
            margin-left: 1rem;
        }
    
        &__description-container{
            background: white;
            width: 100%;
            padding: 1.5rem;
            border-radius: 30px;
            min-height: 20rem;
        }
    
        &__description{
            font-family: $body-font;
            font-weight: $medium;
        }
    
        &__carousel-container{
            width: 90vw;
            height: 90vh;
            display: flex;
        }
    
        &__user-container{
            display: flex;
            align-items: center;
            width: 50%;
            margin-bottom: 2rem;
        }
    
        &__username{
            font-family: $body-font;
            font-weight: $regular;
            font-size: 2.5rem;
            color: $white;
        }
    
        &__user-image{
            height: 5rem;
            width: 5rem;
            border-radius: 50%;
            margin-right: 1rem;
            overflow: hidden;
            margin-right: 1.5rem;
        }


    }

}





