
.landing-background{
    height: 100vh;
    width: 100vw;
    background: url(../img/bird.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    background-color: $medium-grey;
    background-blend-mode: multiply;
}

.landing-background-second{
    height: 100vh;
    width: 100vw;
    background: url(../img/plant.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    background-color: $medium-grey;
    background-blend-mode: multiply;
}

.landing-section{
    height: 100vh;
    width: 100vw;

    &--top{
        height: 60%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding-bottom: 15%;
    }

    &--topSecond{
        height: 60%;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        flex-direction: column;
        padding-left: 10%;
    }

    &--img{
        height: 8rem;
        padding-left: 2rem;
    }

    &--bottom{
        height: 40%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-bottom: 7%;
    }

    &--button{
        @include white-rounded-button;
    }

    &--navigation-circles{
        height: 10%;
        width: 100%;
        display: flex;
        justify-content: center;

        &__circle1{
            height: 1.8rem;
            width: 1.8rem;
            background: $light-green;
            border-radius: 1rem;
            margin-right: 4%;
            margin-left: 4%;
        }

        &__circle2{
            height: 1.8rem;
            width: 1.8rem;
            background: $white;
            border-radius: 1rem;
            margin-left: 4%;
            margin-right: 4%;
        }
    }

    &--h1{
        font-size: 3.2rem;
        color: $white;
        max-width: 15ch;
        letter-spacing: 0.05rem;
        padding-bottom: 4%;
        font-family: $heading-font;
        line-height: 150%;
    }

    &--p{
        font-size: 1.9rem;
        color: $white;
        max-width: 22ch;
        font-family: $body-font;
        font-weight: $bold;
        line-height: 120%;
        letter-spacing: 0.1rem;
    }
}