
.landing-background{
    height: 100vh;
    width: 100vw;
    background: url(../img/bird.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgb(139, 139, 139);
    background-blend-mode: multiply;
}

.landing-background-second{
    height: 100vh;
    width: 100vw;
    background: url(../img/plant.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgb(139, 139, 139);
    background-blend-mode: multiply;
}

.landing-section{
    height: 100vh;
    width: 100vw;

    &--top{
        height: 60%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding-bottom: 15%;
    }

    &--topSecond{
        height: 60%;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        flex-direction: column;
        padding-left: 10%;
    }

    &--img{
        height: 8rem;
        padding-left: 2rem;
    }

    &--bottom{
        height: 40%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-bottom: 7%;
    }

    &--button{
        border: none;
        font-size: 16px;
        background: white;
        color: black;
        border-radius: 2rem;
        padding: 0.6rem;
        padding-left: 2.8rem;
        padding-right: 2.8rem;
        margin-bottom: 4rem;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        letter-spacing: 0.06rem;
    }

    &--navigation-circles{
        height: 10%;
        width: 100%;
        display: flex;
        justify-content: center;

        &__circle1{
            height: 1rem;
            width: 1rem;
            background: #78C948;
            border-radius: 1rem;
            margin-right: 4%;
            margin-left: 4%;
        }

        &__circle2{
            height: 1rem;
            width: 1rem;
            background: white;
            border-radius: 1rem;
            margin-left: 4%;
            margin-right: 4%;
        }
    }

    &--h1{
        font-size: 32px;
        color: white;
        max-width: 15ch;
        letter-spacing: 0.1rem;
        padding-bottom: 4%;
        font-family: 'Laila', sans-serif;
        line-height: 150%;
    }

    &--p{
        font-size: 20px;
        color: white;
        max-width: 22ch;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        line-height: 120%;
        letter-spacing: 0.02rem;
    }
}