.posts-wrap{
  width: 100%;
  height: 77.3vh;
  overflow: scroll;
}

.posts-container div {
  width: 341px;
  // min-height: 100px;
  // background-color: antiquewhite;
  display: flex;
  flex-flow: column;
  // justify-content: center;
  // align-items: center;
  // border-radius: 8px;
}

.post__profile-container{
  background: blue;
  display: flex !important;
  flex-flow: row !important;
  align-items: flex-start !important;
  border-radius: 8px 8px 0px 0px;
}

.ellipsis{
  color: white;
}

.post__image-container{
  background: black;
  height: 150px;
}

.post__info-container{
  background: coral;
}

.post__comment-container{
  background: purple;
  margin-bottom: 2rem !important;
}

.post__profilePic{
  width: 40px;
  height: auto;
}

// ==================================================================

.container{
  width: 100%;
  height: auto;
  color: black;
  display: flex;
  align-items: center;
  flex-flow: column;
}

.card{
  width: 90%;
  // min-width: 21rem;
  // max-width: 25rem;
  height: auto;
  background: white;
  border-radius: 30px;
  cursor: pointer;
  border: none;

  &__top{
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      position: relative;
      width: 100%;
  }


  &__image{
      width: 100%;
      max-height: 200px;
      border-radius: 30px 30px 0px 0px;
  }

  &__user-tools{
      width: 20% !important;
      position: absolute;
      padding-top: 1.5rem;
      display: flex;
      align-items: center;
  }

  &__user-tools--btn{
    outline: none;
    border: none;
    width: 20px;
    height: 30px;
    background: transparent;
  }

  &__profilePic{
      border-radius: 50px;
      cursor: pointer;
  }

  &__text{
      font-family: 'Laila', sans-serif;
      color: white;
      background: rgb(2,0,36);
      background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(26,168,120,1) 0%, rgba(120,201,72,1) 100%);
      border-radius: 30px;
      width: fit-content;
      padding: 0.5rem;
      margin-top: 0.5rem;
      cursor: pointer;
  }

  &__bottom{
      min-height: 10rem;
      max-height: 20rem;
      display: flex;
      flex-flow: column;
      justify-content: space-around;
  }

  &__bottom-upper{
      display: flex;
      flex-flow: row !important;
      flex-wrap: wrap;
      justify-content: flex-start;
      margin-left: 0.5rem;
  }

  &__caption{
      margin-left: 0.8rem;
      font-family: 'Roboto', sans-serif;
  }

  &__comments-master{
      display: flex;
      width: 100%;
      min-height: 30px;
      justify-content: flex-end !important;
      align-items: flex-end;
  }

  &__comments{
      width: 64% !important;
      display: flex;
      flex-flow: row !important;
      justify-content: space-between;
      align-items: center;
  }

  &__comments-details{
      font-family: 'Roboto', sans-serif;
      color: #7E7E7E;
      cursor: pointer;
      outline: none;
      border: none;
      background: transparent;
      margin-bottom: 1rem;
  }

  &__speech{
      margin-right: 1.5rem;
      font-size: 1.5rem;
      cursor: pointer;
  }
}

.dropdown{
  width: 20px !important;
  height: 30px;
  display: flex !important;
  justify-content: center !important;
}

#cardText{
  margin-left: 0.5rem;
}

.ellipsis{
  color: white;
  font-size: 3rem;
  z-index: 100;
  cursor: pointer;
}

.dropdown-menu{
  border-radius: 15px;
  min-height: 120px;
  min-width: 140px;
}

.dropdown-item{
  margin-top: 1.5rem;
  font-family: $body-font;
  font-size: 1.6rem;
  font-family: $body-font;
  font-weight: $regular;
  letter-spacing: 0.05rem;
  margin-left: 1rem;
  pointer-events: none !important;
}


