.posts-wrap{
  width: 100%;
  height: 77.3vh;
  overflow: scroll;
}

.posts-container div {
  width: 341px;
  min-height: 200px;
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}